# Connect to PGAdmin database

In [1]:
# Use these commands to install libraries to mlenv environment
# pip install sqlalchemy
# pip install psycopg2
# psycopg2 is needed to interact with postgres

In [2]:
# Link to guide used to create this page
# https://medium.com/analytics-vidhya/postgresql-integration-with-jupyter-notebook-deb97579a38d

In [3]:
import pandas as pd
from config import db_password

In [4]:
# Use create_engine function from sqlalchemy
from sqlalchemy import create_engine

In [5]:
# connect sqlalchemy to the database
# Format is below
# engine = create_engine('dialect+driver://username:password@host:port/database')
engine = create_engine(f'postgresql://root:{db_password}@mypostgresdb.c0f5nshtds0b.us-east-1.rds.amazonaws.com/test_db')

In [6]:
# read in tables as a pandas DataFrame
# use pd.read_sql('SQL query', engine)

test_df = pd.read_sql('SELECT * FROM people', engine)

test_df.head()

   name               note
0  Adam  hey does it work?
1  name               note
2  name               note
3  Mike   I guess it works
4  Mike   I guess it works

In [7]:
# Read in another table

test_df2 = pd.read_sql('SELECT * FROM codata', engine)

test_df2.head()

,objectid,full_,geoid,label,staetfp,county,countyfp,county_pos_cases,county_population,county_rate_per_100_000,...,state_cdc_deaths,state_number_hospitalizations,state_number_tested,state_test_encounters,state_number_of_counties_pos,state_number_of_outbreaks,data_source,date_data_last_updated,shape_area,shape_length
0,1,Saguache County,8109.0,Saguache,8,SAGUACHE,109.0,1084.0,6414.0,16900.53,...,11859,58123,4714214,16189225,64,8162,Colorado Department of Public Health and Envir...,"Data through February 7, 2022",0.84314903059385,4.39184364534676
1,2,Sedgwick County,8115.0,Sedgwick,8,SEDGWICK,115.0,452.0,2409.0,18762.97,...,11859,58123,4714214,16189225,64,8162,Colorado Department of Public Health and Envir...,"Data through February 7, 2022",0.152011070952994,1.7075458304623
2,3,Cheyenne County,8017.0,Cheyenne,8,CHEYENNE,17.0,307.0,1743.0,17613.31,...,11859,58123,4714214,16189225,64,8162,Colorado Department of Public Health and Envir...,"Data through February 7, 2022",0.478627830943196,3.11127071445578
3,4,Custer County,8027.0,Custer,8,CUSTER,27.0,599.0,4713.0,12709.53,...,11859,58123,4714214,16189225,64,8162,Colorado Department of Public Health and Envir...,"Data through February 7, 2022",0.196859248573446,2.36450252969445
4,5,La Plata County,8067.0,La Plata,8,LA PLATA,67.0,11982.0,55649.0,21531.38,...,11859,58123,4714214,16189225,64,8162,Colorado Department of Public Health and Envir...,"Data through February 7, 2022",0.447277846552652,3.02281991599124