# Import Dependencies and Read CSV

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import ExtraTreesRegressor
from imblearn.under_sampling import RandomUnderSampler
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt


#  Import and read the csv.
import pandas as pd 
import os

### Use on Google Colab
import io
from google.colab import files
uploaded = files.upload()
co_covid_df= pd.read_csv(io.BytesIO(uploaded['CleanCovidData.csv']))
co_covid_df.head()

Saving CleanCovidData.csv to CleanCovidData.csv

             County  ...  greater_than_average
0      Adams County  ...                     1
1    Alamosa County  ...                     0
2   Arapahoe County  ...                     0
3  Archuleta County  ...                     1
4       Baca County  ...                     0

[5 rows x 17 columns]

# Clean the Data

In [2]:
clean_covid_load = os.path.join("covid19_county_metrics_mod.csv")

In [3]:
#co_covid_df = pd.read_csv(clean_covid_load)
#co_covid_df

In [4]:
co_covid_df = co_covid_df.rename(columns = {'county':'changeme'})
co_covid_df

               County  ...  greater_than_average
0        Adams County  ...                     1
1      Alamosa County  ...                     0
2     Arapahoe County  ...                     0
3    Archuleta County  ...                     1
4         Baca County  ...                     0
..                ...  ...                   ...
59      Summit County  ...                     1
60      Teller County  ...                     1
61  Washington County  ...                     1
62        Weld County  ...                     1
63        Yuma County  ...                     1

[64 rows x 17 columns]

In [5]:
#co_covid_df['County'] = co_covid_df['changeme'].astype(str) + ' County'
#co_covid_df
#co_covid_df.drop(['changeme'], axis=1, inplace=True)

In [6]:
co_covid_df = co_covid_df.rename(columns = {"One-Week Cumulative Incidence":"OneWeek_Cumulative_Incidence", "Two-Week Cumulative Incidence":"TwoWeek_Cumulative_Incidence", "One-Week Average Positivity":"OneWeek_Average Positivity", "Two-Week Average Positivity":"TwoWeek_Average_Positivity", "County size":"County_size"})
co_covid_df

               County  ...  greater_than_average
0        Adams County  ...                     1
1      Alamosa County  ...                     0
2     Arapahoe County  ...                     0
3    Archuleta County  ...                     1
4         Baca County  ...                     0
..                ...  ...                   ...
59      Summit County  ...                     1
60      Teller County  ...                     1
61  Washington County  ...                     1
62        Weld County  ...                     1
63        Yuma County  ...                     1

[64 rows x 17 columns]

In [7]:
co_covid_df.dtypes

County                                object
oneweek_cumulative_incidence         float64
twoweek_cumulative_incidence         float64
oneweek_average_positivity           float64
twoweek_average_positivity           float64
county_size                           object
fips                                   int64
administered_dose1_recip               int64
administered_dose1_pop_pct           float64
series_complete_yes                    int64
series_complete_pop_pct              float64
svi_ctgy                              object
series_complete_pop_pct_svi            int64
metro_status                          object
series_complete_pop_pct_ur_equity      int64
census2019                             int64
greater_than_average                   int64
dtype: object

In [8]:
# Find metro status values
co_covid_df['metro_status'].unique

<bound method Series.unique of 0         Metro
1     Non-metro
2         Metro
3     Non-metro
4     Non-metro
        ...
59    Non-metro
60        Metro
61    Non-metro
62        Metro
63    Non-metro
Name: metro_status, Length: 64, dtype: object>

In [9]:
# Encode metro status string values into numeric values
metro_dict = {'Non-metro': 0, 'Metro': 1}
co_covid_df = co_covid_df.replace({'metro_status': metro_dict})

In [10]:
# Find values of county size
co_covid_df['county_size'].unique

<bound method Series.unique of 0            >30,000
1     30,000 or less
2            >30,000
3     30,000 or less
4     30,000 or less
           ...
59           >30,000
60    30,000 or less
61    30,000 or less
62           >30,000
63    30,000 or less
Name: county_size, Length: 64, dtype: object>

In [11]:
# Encode county size string values into numeric values
county_dict = {'30,000 or less': 0, '>30,000': 1}
co_covid_df = co_covid_df.replace({'county_size': county_dict})

In [12]:
# Find values of svi category
co_covid_df['svi_ctgy'].unique

<bound method Series.unique of 0     C
1     D
2     B
3     B
4     C
     ..
59    A
60    A
61    B
62    B
63    C
Name: svi_ctgy, Length: 64, dtype: object>

In [13]:
# Encode svi category string values into numeric values
svi_dict = {'A': 0, 'B': 1, 'C': 3, 'D':4}
co_covid_df = co_covid_df.replace({'svi_ctgy': svi_dict})

In [14]:
# Relevant Features 
co_covid_df = co_covid_df[['County', 'twoweek_average_positivity', 'county_size', 'series_complete_yes', 'series_complete_pop_pct', 'metro_status', 'census2019', 'greater_than_average']]
co_covid_df

               County  ...  greater_than_average
0        Adams County  ...                     1
1      Alamosa County  ...                     0
2     Arapahoe County  ...                     0
3    Archuleta County  ...                     1
4         Baca County  ...                     0
..                ...  ...                   ...
59      Summit County  ...                     1
60      Teller County  ...                     1
61  Washington County  ...                     1
62        Weld County  ...                     1
63        Yuma County  ...                     1

[64 rows x 8 columns]

## Split the Data into Training and Testing

In [15]:
# Generate the categorical variable list
feat_cat = ['County','twoweek_average_positivity', 'series_complete_yes', 'census2019']

In [16]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [17]:
# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(co_covid_df[feat_cat]))

In [18]:
encode_df.columns = enc.get_feature_names(feat_cat)
encode_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   County_Adams County  ...  census2019_727211
0                  1.0  ...                0.0
1                  0.0  ...                0.0
2                  0.0  ...                0.0
3                  0.0  ...                0.0
4                  0.0  ...                0.0

[5 rows x 242 columns]

In [19]:
# Merge one-hot encoded features and drop the originals
co_covid_df2 = co_covid_df.merge(encode_df, left_index=True, right_index=True).drop(columns=feat_cat, axis=1)
co_covid_df2

    county_size  series_complete_pop_pct  ...  census2019_720403  census2019_727211
0             1                     59.9  ...                0.0                0.0
1             0                     50.3  ...                0.0                0.0
2             1                     60.0  ...                0.0                0.0
3             0                     53.1  ...                0.0                0.0
4             0                     36.9  ...                0.0                0.0
..          ...                      ...  ...                ...                ...
59            1                     76.7  ...                0.0                0.0
60            0                     49.8  ...                0.0                0.0
61            0                     27.6  ...                0.0                0.0
62            1                     53.5  ...                0.0                0.0
63            0                     39.1  ...                0.0                0.0

[64 rows x 246 columns]

In [20]:
#co_covid_df2.corr()

In [21]:
# Split our preprocessed data into our features and target arrays
y = co_covid_df2["greater_than_average"]
X = co_covid_df2.drop("greater_than_average", axis=1)

In [22]:
# Split the preprocessed data into a training and testing dataset
# The training and testing data is split into 75% and 25%, respectively.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [23]:
# Create a StandardScaler instances
scaler = StandardScaler()

In [24]:
# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

In [25]:
# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Undersampling, We are using undersampling to normalize our data.

In [26]:
from collections import Counter

In [27]:
from imblearn.under_sampling import RandomUnderSampler
ros = RandomUnderSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({0: 22, 1: 22})

In [29]:
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [30]:
from sklearn.metrics import confusion_matrix
y_pred = model.predict(X_test_scaled)
confusion_matrix(y_test, y_pred)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

array([[3, 6],
       [0, 7]])

In [31]:
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.6666666666666666

In [32]:
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.33      1.00      0.50      0.58      0.31         9
          1       0.54      1.00      0.33      0.70      0.58      0.36         7

avg / total       0.80      0.62      0.71      0.59      0.58      0.33        16

# Decision Tree, We have decided to use a decision tree model for our Machine Learning Model because we are predicting a binary outcome.

In [33]:
# Import Dependencies
from sklearn import tree
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
# Creating the decision tree classifier instance.
model = tree.DecisionTreeClassifier()
# Fitting the model.
model = model.fit(X_train_scaled, y_train)

In [34]:
# Making predictions using the testing data.
predictions = model.predict(X_test_scaled)

In [35]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)

In [36]:
# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0            9            0
Actual 1            5            2

In [37]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [38]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0            9            0
Actual 1            5            2

Accuracy Score : 0.6875
Classification Report
              precision    recall  f1-score   support

           0       0.64      1.00      0.78         9
           1       1.00      0.29      0.44         7

    accuracy                           0.69        16
   macro avg       0.82      0.64      0.61        16
weighted avg       0.80      0.69      0.63        16

# Logistic Regression, We also wanted to look at how the model performed for a Logistic Regression model because it also predicts binary values.

In [39]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
   max_iter=200,
   random_state=1)

In [41]:
classifier.fit(X_resampled, y_resampled)

LogisticRegression(max_iter=200, random_state=1)

In [42]:
y_pred = classifier.predict(X_test_scaled)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

In [43]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.625

# Random Forest Model

In [45]:
# Create a random forest classifier.
from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

In [46]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [47]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [48]:
# Calculating the confusion matrix.
cm2 = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df2 = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df2

          Predicted 0  Predicted 1
Actual 0            9            0
Actual 1            5            2

In [49]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.6875

In [50]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0            9            0
Actual 1            5            2

Accuracy Score : 0.6875
Classification Report
              precision    recall  f1-score   support

           0       0.64      1.00      0.78         9
           1       1.00      0.29      0.44         7

    accuracy                           0.69        16
   macro avg       0.82      0.64      0.61        16
weighted avg       0.80      0.69      0.63        16

In [51]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.01329366, 0.08467903, 0.02703555, 0.00400917, 0.00546465,
       0.        , 0.00886409, 0.        , 0.00393424, 0.00390234,
       0.0037709 , 0.00134724, 0.0032229 , 0.00324533, 0.        ,
       0.00374677, 0.00370216, 0.00649305, 0.00705845, 0.00553686,
       0.00206886, 0.00963915, 0.00684743, 0.00421631, 0.00715958,
       0.        , 0.00239805, 0.00572045, 0.00244751, 0.        ,
       0.00705429, 0.        , 0.        , 0.0030156 , 0.        ,
       0.00308466, 0.        , 0.        , 0.00278421, 0.00456812,
       0.00230132, 0.00234663, 0.00561923, 0.        , 0.00065223,
       0.00826546, 0.        , 0.00328689, 0.        , 0.00180862,
       0.00545098, 0.00444485, 0.00128533, 0.01005463, 0.00440833,
       0.0037362 , 0.00196164, 0.        , 0.00666866, 0.00858554,
       0.00255498, 0.00309768, 0.00580789, 0.00375969, 0.        ,
       0.        , 0.00831278, 0.00488101, 0.00313742, 0.00281913,
       0.00114142, 0.00218084, 0.        , 0.00281174, 0.00350846,
       0.00204745, 0.        , 0.00233955, 0.        , 0.00259862,
       0.00570269, 0.00268266, 0.        , 0.00431785, 0.00046211,
       0.00278745, 0.00348839, 0.00401813, 0.        , 0.00326945,
       0.01055122, 0.01676898, 0.        , 0.00575142, 0.0063357 ,
       0.00433309, 0.0045779 , 0.        , 0.0051733 , 0.01197761,
       0.00720875, 0.00780522, 0.01812656, 0.00891398, 0.01291095,
       0.00492954, 0.        , 0.02042084, 0.00448204, 0.00525549,
       0.00595628, 0.        , 0.00327594, 0.00517346, 0.00798323,
       0.        , 0.00716798, 0.00724452, 0.        , 0.00173798,
       0.        , 0.        , 0.00721085, 0.00408096, 0.00453557,
       0.00245462, 0.        , 0.00178251, 0.        , 0.00272594,
       0.00071146, 0.00622563, 0.00657319, 0.0054405 , 0.00825419,
       0.00180616, 0.00179358, 0.00707107, 0.        , 0.        ,
       0.0108807 , 0.00622859, 0.        , 0.00598563, 0.00243983,
       0.00021631, 0.00138043, 0.00407008, 0.00200412, 0.        ,
       0.00434861, 0.00278427, 0.00576523, 0.00732958, 0.00170682,
       0.        , 0.00156511, 0.00235855, 0.00342906, 0.00285193,
       0.00358647, 0.00477823, 0.        , 0.        , 0.        ,
       0.00658796, 0.00265613, 0.        , 0.00667518, 0.00316616,
       0.00384392, 0.00213739, 0.        , 0.00196086, 0.00433631,
       0.00229149, 0.00702026, 0.        , 0.00157736, 0.00465146,
       0.00298252, 0.00763821, 0.        , 0.00736473, 0.        ,
       0.        , 0.00206917, 0.00249857, 0.00467711, 0.        ,
       0.00847807, 0.00074352, 0.        , 0.00083905, 0.00804288,
       0.00206648, 0.00273399, 0.00263525, 0.00742905, 0.00990854,
       0.00833264, 0.        , 0.0023981 , 0.        , 0.00057194,
       0.        , 0.00170518, 0.00539115, 0.00181927, 0.00409946,
       0.00519764, 0.0076695 , 0.00253774, 0.00306978, 0.00390083,
       0.        , 0.00204267, 0.        , 0.0052458 , 0.00322418,
       0.005379  , 0.00701326, 0.        , 0.00757687, 0.00656671,
       0.00035579, 0.00775101, 0.00682954, 0.        , 0.        ,
       0.00299096, 0.        , 0.00299808, 0.00364692, 0.00780292,
       0.00491801, 0.        , 0.00423371, 0.00585245, 0.00324696,
       0.00612068, 0.00415237, 0.        , 0.00470855, 0.00628645])

In [ ]:
#co_covid_df.to_csv('CleanCountyCoviddata.csv', columns=["County", "date", "OneWeek_Cumulative_Incidence", "TwoWeek_Cumulative_Incidence", "OneWeek_Average Positivity", "TwoWeek_Average_Positivity", "County_size"])